@charset "utf-8";
.tod_main {
  width: 616px;
  margin: 100px auto;
}
* {
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.title {
  line-height: 62px;
  height: 62px;
  border-top: 1px solid #d0d0d0;
}
.title h3 {
  font-weight: normal;
  font: 22px/62px "微软雅黑";
  width: 106px;
  border-top: 2px solid #f97374;
  position: relative;
  margin-top: -1px;
  float: left;
  height: 61px;
}
.title_nav {
  font-size: 14px;
  float: right;
  height: 62px;
  line-height: 62px;
  color: #c0c0c0;
}
.title_nav li {
  float: left;
  list-style: none;
}
.title_nav a {
  color: #c0c0c0;
}
.title_nav a:hover {
  color: red;
}
.title_nav span {
  margin: 0px 11px;
}
.content {
  margin-right: -32px;
}
.item {
  float: left;
  margin-right: 32px;
  width: 130px;
  height: 164px;
}
.item a {
  font-szie: 12px;
  color: #ccc;
}
.item_img {
  margin-bottom: 5px;
  height: 78px;
  display: block;
  position: relative;
}
.item_img img {
  display: block;
  width: 130px;
  height: 78px;
}
.item_img span {
  width: 35px;
  height: 18px;
  position: absolute;
  right: 0;
  bottom: 0;
  font-size: 12px;
  color: #fff;
  text-indent: 4px;
}
.item .cq {
  background: red;
}
.item .gq {
  background: blue;
}
.item_list {
  line-height: 22px;
  font-size: 12px;
}
.item_list .username,
.item_list .pay,
.item_list .mess {
  padding: 17px;
}
